body {
    font-family: Arial, sans-serif;
    background-image: url(image.png);
    color: darkorchid;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    
}

.fond {
    width: 400px;
    position: relative;
    border: 1px solid darkorchid;
    margin: 10px; 		/* marge externe */
    padding: 10px; 		/* marge interne */
    background: rgba(0,0,0,0.5);
}

img{
    position: absolute;
    top:15px;
    right:15px;
    width:10%;
    border-radius: 8px;
    border: 2px solid darkorchid;
    box-shadow: 0 4px 12px darkorchid;
}

.center {
    text-align: center;
}









